body {
	background-color: black;
	color: white;
	text-align: center;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*the modal takes up the entire screen, with a black background at 90% opacity*/
#modal {
	background-color: rgba(0, 0, 0, 0.9);
	color: black;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	/*This puts our modal in front of the body (which has a default z-index setting of `0`*/
	overflow: auto;
	/*If overflow is clipped, a scroll-bar should be added to see the rest of the content*/
}

#modal-textbox {
	background-color: grey;
	height: 50%;
	width: 50%;
	border: 3px black solid;
	margin: 150px auto;
	box-shadow: 0 0 50px rgba(255, 255, 255, 0.5);
	font-family: 'Asul', sans-serif;
	padding: 20px;
	line-height: 5px;
}
.modal-content {
	font-size: 5vw;
}
.modalButton {
	font-size: 1vh;
}
.introMessage {
	border-bottom: 1px dashed;
	padding-bottom: 10px;
}
#towerA {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	justify-items: center;
}
#towerB {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	justify-items: center;
}
#towerC {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	justify-items: center;
}
#largeDisk {
	min-width: 75%;
}
#mediumDisk {
	min-width: 50%;
}
#smallDisk {
	min-width: 25%;
}
.resetButton {
	margin: 10px;
	font-size: 1.5rem;
}
.allTowers {
	background-color: darkslategray;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 20px 1fr;
	min-height: 300px;
}
.allTowers > div {
	text-align: center;
	grid-row: 2;
}
#moveToA,
#moveToB,
#moveToC {
	font-size: 1.5em;
	margin: 1vw 1vh;
}
.isHidden {
	display: none;
}
footer ul li {
	font-size: 0.5rem;
	list-style-type: none;
	display: inline;
	float: right;
	padding: 5px;
	margin: 10px;
}
footer ul li a:hover {
	color: white;
}
.selected {
	color: white;
	background-color: black;
	border: 2px solid white;
}
